
body{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.todo{
  width: 60%;
  min-width: 400px;
  margin: 20px auto;
  background-image: linear-gradient(to top, #7c7c7c 0%, #bdbdbd 100%);
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.todo__item{
  padding: 0 4%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.101);
}

.todo__item:hover{
  border: 1px solid rgba(0, 0, 0, 0.467);
}

.input{
  display: flex;
  justify-content: center;
}